body{
    font-family: 'Roboto', sans-serif;
}
img {
        height: 1040px;
        width: 1898px;
    }
    .flex{
        display: flex;
        gap: 5px
    }
.content{
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 80%;
}
.container{
    background-color: gray;
    margin: 0 auto;
    width: 100%;
}
table tr {
    text-align: left;
    border-top: 1px solid;
}
table td {
    padding: 4px;
    width: 13%;
    border-top: 1px solid;
}
footer{
    background-color: rgb(70,56,56);
    color: white;
    width: 100%;
}
input{
    text-align: center;
}
button{
    color:white;
    width: 158px;
    height: 22px;
    background-color: rgb(120,225,83);
}