body{
    font-family: 'Roboto', sans-serif;
}
img {
        height: 100%;
        width: 100%;
    }
.flex{
        display: flex;
        gap: 5px
    }
.content{
    background-color: white;
    text-align: center;
    margin: 0 auto;
    width: 95%;
}
.container{
    background-color: gray;
    margin: 0 auto;
    width: 100%;
}
table{
    padding: 100px;
}
table tr {
    text-align: left;
}
table td {
    padding: 4px;
    width: 13%;
    border-top: 1px solid;
}
footer{
    background-color: rgb(70,56,56);
    color: white;
    width: 100%;
}
.footercontent{
    padding : 50px;
}
input {
    text-align: center;
}
input text{
    width: 275px;
    height: 25px;
}
    
button{
    color:white;
    border: none;
    width: 275px;
    height: 25px;
    background-color: rgb(120,225,83);
}